body {
    background-image: url("http://top-fon.com/uploads/posts/2023-01/1674835067_top-fon-com-p-fon-arbuz-dlya-prezentatsii-12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    margin: 20px 50px;
    padding: 5px;
    background: #ffff;
    border-radius: 15px;
    border: 5px solid #0000ff;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: green;
    font-weight: bolder;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
}

p {
    color: red;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 2rem;
}